@import './modules/variables';
@import './modules/default-style';
@import './modules/header';
@import './modules/popup';

.global-container {
  min-height: 100vh;
  position: relative;

  & > .report {
    position: absolute;
    bottom: 5px;
    right: 10px;
    
    & > span {
      color: $subFont;
      text-decoration: underline;
      font-size: 12px;
    }
  }
}

.main-container {
  padding-top: 80px;
}

.user-icon {
  margin-bottom: 30px;
  padding-top: 20px;
  text-align: right;
  position: relative;
  
  & > .bubble {
    display: block;
    position: absolute;
    right: 170px;
    top: 0;
    width: 70px;
  }

  & > .sitting-owl {
      width: 250px;
  }
}

.details {
  margin: 0 auto 10px auto;
  width: 80%;

  & > audio {
    width: 100%;
  }
}

.response {
  // display: flex;
  // align-items: flex-end;

  & > .my-icon {
    & > .sitting-owl {
      width: 200px;
      transform: scale(-1, 1);
    }
  }

  & > .btn {
    text-align: right;
    margin-right: 20px;

    & > button {
      width: 100px;
      height: 30px;
      border: 0;
      border-radius: 2px;
      font-size: 14px;
      color: white;
      background-color: $mainPurple;
    }
  }
}

.gone-message {
  position: absolute;
  bottom: 50px;
  width: 100%;

  & .bubble-message {
    position: relative;
    width: 200px;
    margin-left: 5%;

    & .bubble   {
      width: 100%;
    }
    
    & .message {
      position: absolute;
      top: 44px;
      left: 13px;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 16px;
    }
  }

  & .gone-owl {
    margin-right: 5%;
    text-align: right;
    
    & .owl {
      width: 135px;
    }
  }
}

.back-btn {
  position: fixed;
  bottom: 10px;
  left: 20px;
  width: 60px;
  height: 60px;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  &:focus {
    outline: none;
  }
  & > img {
    width: 100%;
  }
}