@import './modules/variables';
@import './modules/default-style';
@import './modules/header';
@import './modules/menu';

.global-container {
  background-image: url(../icon/tree.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
}

.timeline {
  &__list {
    margin: 0;
    padding-top: 110px;
    padding-bottom: 50px;
  }

  &__item {
    position: relative;
    margin-right: 127px;
    margin-bottom: 72px;
    padding-top: 25px;
    list-style: none;
    text-align: right;

    &:last-child {
      margin-bottom: 0;
    }

    & .bubble {
      display: block;
      position: absolute;
      top: 0;
      right: 100px;
      width: 65px;
    }

    & .owl {
      width: 80px;
    }
  }
}