@import './modules/variables';
@import './modules/default-style';
@import './modules/header';
@import './modules/form';

.global-container {
  padding-top: 70px;
}

.main-container {
  padding-top: 0;
}

.user-icon {
  margin-bottom: 60px;
  margin-right: 0;
  padding-top: 55px;
  text-align: right;
  position: relative;
  
  & > .bubble {
    display: block;
    position: absolute;
    right: 170px;
    top: 0;
    width: 110px;
  }

  & > .sitting-owl {
      width: 250px;
  }
}

.record {
  margin-bottom: 23px;

  &__btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    & > button {
      padding: 0;
      width: 110px;
      height: 35px;
      border-radius: 2px;
      font-size: 18px;
      box-shadow: 3px 4px 2px 0px rgba(0, 0, 0, 0.2);

      &:hover {
        transform: translate(3px, 4px);
        box-shadow: none;
      }
    }
  }

  &__start {
    color: white;
    background-color: $mainPurple;
    border: 0;

  }
  &__stop {
    color: $pointPurple;
    background-color: white;
    border: 1px solid $border;
  }

  & > audio {
    width: 100%;
  }
}

.form {
  &__info {
    margin-bottom: 63px;
  }

  &__btn-wrapper {
    margin-top: 0;
  }
  &__btn {
    margin-bottom: 20px;
    width: 110px;
    height: 35px;
    font-size: 18px;
    background-color: $pointPurple;
  }
}

.back-btn {
  position: fixed;
  bottom: 10px;
  left: 20px;
  width: 60px;
  height: 60px;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  &:focus {
    outline: none;
  }
  & > img {
    width: 100%;
  }
}