@import './variables';

.global-container {
  padding-top: 70px;
}

.main-container {
  padding-top: 0;
}

.page-title {
  margin: 0 20px 20px 20px;

  & > h2{
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
  }

  & > button {
    margin-left: 15px;
    width: 60px;
    height: 23px;
    border: 0;
    border-radius: 2px;
    font-size: 14px;
    color: white;
    background-color: $pointPurple;
  }
}

.user-icon {
  text-align: right;
  padding: 0 0 20px 20px;
  border-bottom: 1px solid $border;

    &__icon {
      width: 250px;
    }
}